@use "sass:math";
@import "null.scss";
@import "helper.scss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

$minWidth: 320;

$maxWidth: 1600;

$maxWidthContainer: 1230px;

$containerPadding: 40;

$containerWidth: $maxWidthContainer + $containerPadding;

$fontFamily: 'Manrope', sans-serif;

$mainColor:#101722;
$submainColor: #5F5F5F;
$accentColor:#5BB318;

$mobile: 320px;
$laptop: 1440px;
$small-laptop: 1024px;
$big-tablet: 992px;
$tablet: 768px;
$big-phone: 425px;
$phone: 375px;
$small-phone: 320px;

[class*="__container"] {
    @if ($maxWidthContainer>0) {
        max-width: $containerWidth;
        margin: 0 auto;
        width: 100%;
    }
    @if ($containerPadding>0) {
        @if ($maxWidthContainer>0) {
            padding: 0 remRef(math.div($containerPadding, 2));
        } 
    }
}

[class*="__left-container"] {
    @if ($maxWidthContainer>0) {
        max-width: calc(((100% - $containerWidth) / 2) + $containerWidth);
        margin-left: auto;
        width: 100%;
    }
    @if ($containerPadding>0) {
        @if ($maxWidthContainer>0) {
            padding-left: remRef(math.div($containerPadding, 2));
        } 
    }
}

::selection {
    background:$accentColor;
    color: #fff;
}

html {
    font-family: $fontFamily;
    color:$mainColor;
}
input, label, select, textarea {
    font-family: $fontFamily;
    color:$mainColor; 
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    @include adaptive-font(62, 40);
    font-weight: 700;
    line-height: 150%;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
}
h3 {
    @include adaptive-font(46, 32);
    font-weight: 700;
    line-height: 150%; 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #CECECE;
    border-radius: 20px;
    &:hover {
        background: $accentColor;
    }
}

.header {
    border-bottom: 1px solid #DBDBDB;
    @include adaptive-value('padding-top', 35, 30, 320); 
    @include adaptive-value('padding-bottom', 35, 30, 320); 
    z-index: 150;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navbar {
    @media (max-width: $small-laptop) {
        display: none;
    }
    &__logo {
        @include adaptive-value('width', 170, 129, 320); 
    }
    &__menu {
        &-start {
            @media (max-width: $small-laptop) {
                display: block;
            }
            display: none;
            cursor: pointer;
            padding: 9px;
            border-radius: 5px;
            border: 1px solid #DBDBDB;
            @include adaptive-font(25, 18);
            transition: .3s;
            &:hover {
                transition: .3s;
                color: $accentColor;
            }
        }
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        &:not(:last-child) {
            @include adaptive-value('margin-right', 65, 35, 768); 
            transition: .2s;
            &:hover {
                transition: .2s;
                color:$accentColor;
            }
        }
        &-btn {
            display: inline-block;
            border: 1px solid $accentColor;
            color:$accentColor;
            border-radius: 10px;
            padding: 14px 45px;
            transition: .2s;
            &:hover {
                transition: .2s;
                background:$accentColor;
                color:#fff;
            }
        }
    }
    &__dropdown-container {
        position: relative;
    }
    &__dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 220px;
        box-shadow: 0px 0px 15px 0px rgba(140, 140, 140, 0.15);
        z-index: 1;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: none;
        margin-top: 5px;
    }
    &__dropdown-content a {
        display: block;
        padding: 20px 20px; 
        text-decoration: none;
        color: $mainColor;
        border-left: 2px solid #fff;
        transition: .2s;
    }
    &__dropdown-container:hover .navbar__dropdown-content {
        display: block;
    }
    &__dropdown-content a:hover {
        background-color: #F9F9F9;
        border-color: $accentColor;
        color: $accentColor;
        transition: .2s;
    }
    &__dropdown-headline {
        cursor: pointer;
    }
    &__user {
        display: flex;
        align-items: center;
        &-image {
            object-fit: cover;
            width: 65px;
            height: 65px;
            border-radius: 10px;
            margin-right: 20px;
        }
        &-headline {
            font-weight: 700;
            font-size: 18px;
            transition: .2s;
        }
        &-subtitle {
            color:$submainColor;
            margin-bottom: 5px;
        }
        &:hover &-headline {
            transition: .2s;
            color:$accentColor;
        }
    }
}

.main {
    flex-grow: 1;
    &__subheadline {
        @include adaptive-value('margin-top', 15, 10, 320); 
        color:$submainColor;
        line-height: 150%;
        max-width: 495px;
    }
    &__section {
        @include adaptive-value('margin-top', 150, 100, 320); 
        &-page {
            @include adaptive-value('margin-top', 65, 45, 320); 
        }
    }
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
        padding-right: 20px;
    }
    &__description {
        color:$submainColor;
        @include adaptive-font(20, 16);
        margin-top: 25px;
        margin-bottom: 45px;
        line-height: 150%;
    }
    &__image {
        background:url(../img/offer_img.svg);
        @include adaptive-value('width', 1200, 500, 768);
        height: 545px;
        background-repeat: no-repeat;
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &__btn {
        padding: 20px 35px;
        border-radius: 10px;
        font-weight: 700;
        display: inline-block;
        @media (max-width: 520px) {
            text-align: center;
            width: 100%;
        }
        &:first-child {
            background: $accentColor;
            color: #fff;
            margin-right: 35px;
            transition: .2s;
        }
        &:last-child {
            border: 1px solid #DBDBDB;
            transition: .2s;
            @media (max-width: 520px) {
                margin-top: 25px;
            }
            &:hover {
                transition: .2s;
                background:$mainColor;
                border-color:$mainColor;
                color:#fff;
            }
        }
    }
}

.service {
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
        }
        @include adaptive-value('margin-top', 55, 35, 320); 
        @include adaptive-value('gap', 30, 25, 320); 
    }
    &__block {
        @include adaptive-value('padding', 30, 25, 320); 
        border-radius: 10px;
        border: 1px solid #DBDBDB;
    }
    &__icon {
        @include adaptive-font(55, 50);
        color:$accentColor;
    }
    &__headline {
        @include adaptive-font(28, 26);
        font-weight: 700;
        @include adaptive-value('margin-top', 25, 20, 320); 
    }
    &__description {
        margin-top: 15px;
        @include adaptive-value('margin-bottom', 25, 20, 320); 
        color:$submainColor;
        line-height: 150%;
    }
    &__btn {
        padding: 20px 45px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        display: inline-block;
        font-weight: 700;
        transition: .2s;
        @media (max-width: $tablet) {
            width: 100%;
            text-align: center;
        }
        &:hover {
            border-color:$accentColor;
            background:$accentColor;
            color:#fff;
            transition: .2s;
        }
    }
}

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 55px;
    &__block {
        display: grid;
        padding: 30px;
        border-radius: 15px;
        height: 468px;
        background:url(../img/driver.jpg) center no-repeat;
        background-size: cover;
        border: 2px solid #fff;
        transition: .2s;
        &:hover {
            transition: .2s;
            border-color:$accentColor;
        }
        &:nth-child(2) {
            background:url(../img/manager.jpg) center no-repeat;
            background-size: cover;
        }
        &:nth-child(3) {
            background:url(../img/company.jpg) center no-repeat;
            background-size: cover;
        }
        &-text {
            align-self: end;
        }
    }
    &__headline {
        font-size: 26px;
        color: #fff;
        margin-bottom: 10px;
        font-weight: 600;
    }
    &__description {
        color: #BCBCBC;
        line-height: 155%;
    }
}

.reviews {
    &__arrows {
        display: flex;
        align-items: center;
    }
    &__arrow {
        font-size: 25px;
        color:#DBDBDB;
        transition: .2s;
        cursor: pointer;
        padding: 15px;
        border: 1px solid #DBDBDB;
        &:first-child {
            border-radius: 10px 0px 0px 10px;
        }
        &:last-child {
            border-radius: 0 10px 10px 0;
            border-left: none;
        }
        &:hover {
            transition: .2s;
            color:$accentColor;
        }
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__block {
        height: 415px;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &-head {
            display: flex;
            align-items: center;
        }
    }
    &__image {
        width: 95px;
        height: 95px;
        border-radius: 100px;
        border: 1px solid #DBDBDB;
        object-fit: cover;
        margin-right: 40px;
    }
    &__stars {
        display: flex;
        align-items: center;
        color:#CFCFCF;
    }
    &__star {
        font-size: 20px;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &--active {
            color: #FFA800;
        }
    }
    &__headline {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
    }
    &__description {
        color:$submainColor;
        margin-top: 8px;
    }
    &__review {
        color:$submainColor;
        line-height: 150%;
        margin-top: 25px;
    }
    &__slider {
        margin-top: 55px;
        overflow: hidden;
    }
    &__track {
        display: flex;
        align-items: center;
    }
}

.sign-in {
    display: flex;
    justify-content: space-between;
    &__form {
        margin-top: 45px;
    }
}
.input {
    border-bottom: 1px solid #DBDBDB;
    padding-left: 80px;
    padding-right: 35px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    transition: .5s;
    &__option {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__label {
        color: #C8C8C8;
        margin-bottom: 8px;
        padding-left: 80px;
        transition: .5s;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        &:focus-within {
            .input__label,
            .input__icon {
                color: $accentColor;
                transition: .5s;
            }
        }
        &-sign-in {
            margin-bottom: 45px;
        }
        &--full-field {
            grid-column: span 2;
        }
    }
    &__icon {
        position: absolute;
        left: 0;
        font-size: 35px;
        color:#5F5F5F;
        top: 35%;
        transform: translateY(-35%);
        border-right: 1px solid #DBDBDB;
        padding-right: 20px;
        transition: .5s;
        &-visible {
            position: absolute;
            right: 0;
            color: #C8C8C8;
            font-size: 25px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $accentColor;
                transition: .3s;
            }
        }
    }
    &__sign-in {
        width: 495px;
    }
    &:focus {
        border-color: $accentColor;
        transition: .5s;
    }
    &__btn {
        padding: 20px 0;
        background: $accentColor;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        font-weight: 700;
        width: 100%;
        &-recover {
            display: inline-block;
            border: 1px solid #DBDBDB;
            color:$mainColor;
            background: #fff;
            margin-top: 30px;
            transition: .3s;
            &:hover {
                color:#fff;
                background: $mainColor;
                border-color: $mainColor;
                transition: .3s;
            }
        }
    }
    &__descrition-sign-in {
        text-align: center;
        margin-top: 30px;
        color: #5F5F5F;
        & a {
            font-weight: 600;
            color:$accentColor;
        }
    }
    &__checkbox {
        cursor: pointer;
        border: 1px solid #DBDBDB;
        &-wrapper {
            display: inline-block;
            grid-column: span 2;
            &--sign-in {
                margin-top: 35px;
                margin-bottom: 35px;
            }
        }
        &-label {
            transition: .3s;
            &:hover {
                transition: .3s;
                color: $accentColor;
            }
        }
    }
    &__images {
        grid-column: span 2;   
        display: grid;  
        grid-template-columns: repeat(5, 1fr);
        column-gap: 30px;
    }
    &__image {
        height: 185px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        &-wrapper {
            position: relative;
        }
        &-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px;
            border-radius: 5px;
            background: #F9F9F9;
            color: $submainColor;
            cursor: pointer;
        }
    }
}

.input__checkbox {
  display: none;
}

.input__checkbox + label {
  position: relative;
  padding-left: 30px; 
  cursor: pointer;
  display: inline-block;
  line-height: 20px; 
}

.input__checkbox + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  background-color: #fff; 
  transition: .5s;
}

.input__checkbox:checked + label:before {
    background-color: $accentColor;
    border-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    transition: .5s; 
}

.select-page {
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        margin-top: 55px;
    }
    &__block {
        padding: 35px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        transition: .3s;
        &:hover{
            transition: .3s;
            border-color: $accentColor;
            box-shadow: 0px 0px 15px 0px rgba(117, 117, 117, 0.15);
            & .select-page__icon {
                color:$accentColor;
                transition: .3s;
            }
        }
    }
    &__icon {
        font-size: 85px;
        transition: .3s;
        color: #C8C8C8;
    }
    &__description {
        margin-top: 80px;
        color:$submainColor;
    }
    &__headline {
        font-size: 28px;
        font-weight: 700;
        line-height: 150%;
    }
}

.sign-up {
    &__form {
        display: grid;
        grid-template-columns: repeat(2, 495px);
        margin-top: 45px;
        column-gap: 95px;
        row-gap: 45px;
    }
}

input[type="file"] {
    display: none;
}

.file {
    &__wrapper {
        grid-column: span 2;
    }
    &__label {
        border: 2px dashed #DBDBDB;
        display: inline-block;
        padding: 6px 12px;
        border-radius: 20px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        color: $submainColor;
        padding-top: 45px;
        padding-bottom: 45px;
        transition: .3s;
        &:hover {
            border-color: $accentColor;
            transition: .3s;
        }
        &:hover .file__icon {
            color: $accentColor;
            transition: .3s;
        }
    }
    &__icon {
        font-size: 30px;
        color: $submainColor;
        margin-bottom: 20px;
        transition: .3s;
    }
}

.overlay {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(255, 255, 255);
    z-index: 50;
    &__body {
        position: absolute;
        background: #FFFFFF;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-60%);
        box-shadow: 0px 0px 20px 0px rgba(105, 105, 105, 0.15);
        border-radius: 20px;
        width: 600px;
        text-align: center;
        padding-top: 90px;
        padding-bottom: 60px;
    }
    &__headline {
        font-size: 32px;
        font-weight: 700;
    }
    &__description {
        color: $submainColor;
        margin-top: 20px;
        line-height: 150%;
    }
    &__btn {
        text-align: center;
        font-weight: 700;
        padding: 20px 65px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        display: inline-block;
        margin-top: 45px;
        transition: .3s;
        cursor: pointer;
        &:hover {
            transition: .3s;
            background: $accentColor;
            border-color: $accentColor;
            color: #fff;
        }
    }
    &__icon {
        position: absolute;
        top: -55px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 30px;
        border-radius: 50px;
        font-size: 40px;
        color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(105, 105, 105, 0.15);
        background: $accentColor;
        &--success {
            background: $accentColor;
        }
        &-error {
            background: #D21312;
        }
    }   
}

.overlay-review {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 250;
    &__body {
        position: absolute;
        background: #FFFFFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 1020px;
        border-radius: 20px; 
        box-shadow: 0px 0px 20px 0px rgba(105, 105, 105, 0.15);
    }
    &__headline {
        font-size: 32px;
        font-weight: 700;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 45px;
        border-bottom: 1px solid #DBDBDB;
    }
    &__close {
        color: #BABABA;
        font-size: 20px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            color: $accentColor;
            transition: .3s;
        }
    }
    &__form {
        padding: 35px 45px;
    }
    &__input {
        &-text {
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #DBDBDB;
            width: 100%;
            height: 165px;
            resize: none;
            line-height: 155%;
            transition: .3s;
            &:focus {
                border-color: $accentColor;
                transition: .3s;
            }
        }
    }
    &__star {
        &-label {
            margin-top: 45px;
            font-size: 18x;
        }
    }
    &__stars {
        margin-top: 25px;
    }
    &__btn {
        padding: 20px 95px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        transition: .3s;
        font-weight: 600;
        margin-top: 45px;
        &:hover {
            background:$accentColor;
            color: #fff;
            transition: .3s;
        }
    }
}    

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #5BB318;
    animation: l15 1s infinite linear;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
  }
  .loader::after {
    margin: 8px;
    animation-duration: 3s;
  }
  @keyframes l15{ 
    100%{transform: rotate(1turn)}
  }

.no-access {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__text {
        max-width: 500px;
    }
    &__description {
        color: $submainColor;
        line-height: 150%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &__btn {
        display: inline-block;
        padding: 20px 65px;
        border-radius: 10px;
        border: 1px solid #5BB318;
        color: $accentColor;
        font-weight: 700;
        transition: .3s;
        &:hover {
            background: $accentColor;
            color: #fff;
            transition: .3s;
        }
        &:last-child {
            border-radius: 10px;
            border: 1px solid #DBDBDB;
            color:$mainColor;
            margin-left: 30px;
            &:hover {
                background: $mainColor;
                color: #fff;
                transition: .3s;
            }
        }
    }
}

.exchange {
    &__btn {
        display: inline-block;
        padding: 20px 55px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        font-weight: 700;
        transition: .3s;
        &:hover {
            background: $accentColor;
            color: #fff;
            transition: .3s;
            border-color: $accentColor;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cargos {
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
    &__content {
        margin-top: 60px;
    }
    &__block {
        transition: .3s;
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(140, 140, 140, 0.15);
        &-headline {
            font-size: 24px;
            font-weight: 600;
        }
        &-head {
            padding: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-marks {
                display: flex;
                align-items: center;
            }
            &-icon {
                font-size: 35px;
                color: $accentColor;
                &:nth-child(2) {
                    padding-left: 15px;
                    border-left: 1px solid #DBDBDB;
                    margin-left: 15px;
                }
            }
        }
        &-text-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        &-text-subtitle {
            color: $submainColor;
            line-height: 150%;
        }
        &-middle {
            position: relative;
            padding: 25px 25px 25px 57px;
            border-bottom: 1px solid #EDEDED;
            border-top: 1px solid #EDEDED;
            display: grid;
            grid-template-columns: repeat(2, auto);
            row-gap: 25px;
            justify-content: space-between;
        }
        &-footer {
            padding: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-price {
            text-align: right;
            &-title {
                font-size: 20px;
                font-weight: 600;
            }
            &-subtitle {
                color: $submainColor;
                margin-top: 5px;
                line-height: 150%;
            }
        }
        &-info {
            display: flex;
            align-items: center;
            &-circle {
                width: 5px;
                height: 5px;
                border-radius: 10px;
                background: #D9D9D9;
                margin: 0 35px;
            }
            &-item, &-list {
                display: flex;
                align-items: center;
            }
        }
        &:hover {
            border-color: $accentColor;
            transition: .3s;
        }
    }
    &__decor {
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__decor-circle {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 20px;
        border: 2px solid $accentColor;
        &:last-of-type {
            border-color: #D9D9D9;
        }
    }
    &__decor-line {
        width: 2px;
        height: 59px;
        margin: 5px 0;
        background: repeating-linear-gradient(to bottom, #D9D9D9, #D9D9D9 4px, transparent 4px, transparent 10px);
    }
}

.info {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #DBDBDB;
        padding-bottom: 25px;
    }
    &__descript {
        &-wrap {
            margin-top: 10px;
            display: flex;
            align-items: center;
        }
    }
    &__price {
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
    }
    &__subprice {
        color: $submainColor;
        padding-left: 20px;
        margin-left: 20px;
        border-left: 1px solid #DBDBDB;
    }
    &__marks {
        display: flex;
        align-items: center;
    }
    &__mark {
        &-icon {
            font-size: 45px;
            color: $accentColor;
            &:nth-child(2) {
                padding-left: 15px;
                border-left: 1px solid #DBDBDB;
                margin-left: 15px;
            }
        }
    }
}

.cargo {
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 45px;
        margin-top: 40px;
    }
    &__block {
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        grid-column: span 2;
        &-headline {
            padding: 25px;
            font-size: 20px;
            font-weight: 600;
            border-bottom: 1px solid #DBDBDB;
        }
        &-text {
            &-title {
                font-size: 18px;
                font-weight: 600;
            }
            &-subtitle {
                color: $submainColor;
                line-height: 150%;
                margin-top: 5px;
            }
            &-wrap {
                display: flex;
                align-items: center;
                padding: 25px;
            }
        }
        &-icon {
            font-size: 35px;
            color: $accentColor;
            margin-right: 25px;
        }
        &-line {
            width: 1px;
            height: 45px;
            background: #DBDBDB;
        }
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-info {
            padding: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-line {
                width: 1px;
                height: 45px;
                background: #DBDBDB;
            }
            &-item {
                display: flex;
                align-items: center;
            }
            &-icon {
                font-size: 35px;
                color: $accentColor;
                margin-right: 25px;
            }
            &-title {
                font-weight: 600;
            }
            &-subtitle {
                line-height: 150%;
                color: $submainColor;
                margin-top: 5px;
            }
        }
        &-description {
            line-height: 150%;
            padding: 25px;
        }
    }
    &__doubleblock {
        grid-column: span 1;
    }
}

.user {
    &__block {
        width: 100%;
        grid-column: span 2;
        border-radius: 25px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        padding: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        &-line {
            width: 1px;
            height: 45px;
            background: #DBDBDB;
        }
        &-item {
            display: flex;
            align-items: center;
        }
        &-image {
            width: 85px;
            height: 85px;
            object-fit: cover;
            border-radius: 100px;
            margin-right: 25px;
        }    
        &-icon {
            font-size: 35px;
            margin-right: 25px;
            color: $accentColor;
        }   
        &-name {
            font-size: 20px;
            font-weight: 700;
            line-height: 150%;
        }
        &-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;
        }
        &-subtitle {
            color: $submainColor;
            margin-top: 5px;
        }
    }
    &__about {
        display: flex;
        align-items: center;
        &-title {
            font-size: 34px;
            font-weight: 700;
            line-height: 150%;
        }
        &-subtitle {
            color: $submainColor;
            margin-top: 5px;
            font-size: 18px;
        }
        &-image {
            width: 135px;
            height: 135px;
            border-radius: 100px;
            object-fit: cover;
            margin-right: 35px;
        }
        &-icon {
            font-size: 35px;
            color: $accentColor;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid #DBDBDB;
    }
    &__contacts {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__contact {
        display: flex;
        align-items: center;
        &-icon {
            font-size: 35px;
            color: $accentColor;
        }
        &-title {
            font-size: 24px;
            font-weight: 600;
            padding-right: 20px;
            border-right: 1px solid #DBDBDB;
            margin-right: 20px;
            margin-left: 25px;
        }
        &-subtitle {
            color: $submainColor;
        }
        &:nth-child(2) {
            margin-left: 115px;
        }
    }
    &__panel {
        margin-top: 95px;
        &-headline {
            font-weight: 700;
            font-size: 36px;
        }
    }
    &__tabs {
        margin-top: 50px;
        margin-bottom: 65px;
        &--single {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
        }
    }
    &__tab {
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        padding: 30px;
        display: inline-block;
        transition: .3s;
        &:hover {
            transition: .3s;
            border-color: $accentColor;
        }
        &-icon {
            font-size: 45px;
            color: $accentColor;
        }
        &-title {
            font-size: 24px;
            font-weight: 600;
            margin-top: 25px;
            margin-bottom: 5px;
            line-height: 150%;
        }
        &-subtitle {
            line-height: 150%;
            color: $submainColor;
            max-width: 275px;
        }
    }
    &__content {
        &-headline {
            font-size: 36px;
            font-weight: 700;
        }
        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-btn {
                cursor: pointer;
                padding: 20px 55px;
                font-weight: 700;
                border-radius: 10px;
                border: 1px solid #DBDBDB;
                transition: .3s;
                &:hover {
                    background: $accentColor;
                    border-color: $accentColor;
                    color: #fff;
                    transition: .3s;
                }
            }
        }
    }
    &__reviews {
        &-slider {
            margin-top: 60px;
            margin-bottom: 65px;
        }
    }
    &__current-review {
        margin-top: 65px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        padding: 35px 30px;
        &-header {
            display: flex;
            align-items: center;
        }
        &-image {
            width: 95px;
            height: 95px;
            border-radius: 100px;
            border: 1px solid #DBDBDB;
            margin-right: 25px;
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
        }
        &-subtitle {
            color: $submainColor;
            margin-top: 5px;
        }
        &-line {
            width: 1px;
            height: 65px;
            background: #DBDBDB;
            margin-right: 55px;
            margin-left: 55px;
        }
        &-descript {
            line-height: 150%;
            margin: 35px 0;
            color: $submainColor;
        }
    }
    &__empty-review {
        padding: 50px;
        &-headline {
            font-weight: 600;
            font-size: 32px;
        }
        &-subtitle {
            line-height: 150%;
            color: $submainColor;
            margin: 30px 0;
            max-width: 540px;
        }
        &-btn {
            padding: 20px 85px;
            border-radius: 10px;
            border: 1px solid #DBDBDB;
            display: inline-block;
            font-weight: 700;
            transition: .3s;
            cursor: pointer;
            &:hover {
                transition: .3s;
                background: $accentColor;
                color:#fff;
                border-color: $accentColor;
            }
        }
    }
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        text-align: center;
        max-width: 540px;
    }
    &__subtitle {
        color: $submainColor;
        line-height: 150%;
        margin-top: 15px;
    }
    &__image {
        margin-top: 65px;
        padding: 50px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        transition: 0.3s;
        &:hover {
            transition: .3s;
            border-color: $accentColor;
        }
    }
}

.cars {
    &__content {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
    &__block {
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(140, 140, 140, 0.15);
        border: 1px solid #fff;
        transition: .3s;
        &-image {
            width: 100%;
            height: 290px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
        &-name {
            padding: 25px;
            border-bottom: 1px solid #EDEDED;
            font-size: 22px;
            font-weight: 600;
        }
        &-middle {
            padding: 20px 25px;
        }
        &-city {
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
        }
        &-region {
            color: $submainColor;
            margin-top: 5px;
        }
        &-info {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-dot {
                width: 5px;
                height: 5px;
                background:#D9D9D9;
                border-radius: 5px;
            }
        }
        &-footer {
            border-top: 1px solid #EDEDED;
            padding: 20px 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-price {
            &-title {
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
            }
            &-subtitle {
                color: $submainColor;
                margin-top: 5px;
            }
        }
        &-icon {
            font-size: 35px;
            color: $accentColor;
        }
        &:hover {
            border-color: $accentColor;
            transition: .3s;
        }
    }
}

.car {
    &__slider {
        margin-top: 25px;
        overflow: hidden;
        &-track {
            display: flex;
            align-items: center;
            transition: 1s;
        }
        &-item {
            height: 435px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    &__subslider {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &-icon {
            font-size: 40px;
            margin-right: 25px;
            color: $accentColor;
        }
        &-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 150%;
        }
        &-subtitle {
            color: $submainColor;
            margin-top: 5px;
        }
        &-point {
            display: flex;
            align-items: center;
        }
    }
    &__control {
        display: flex;
        align-items: flex-end;
        &-arrows {
            margin-left: 25px;
            display: flex;
        }
        &-icon {
            font-size: 25px;
            padding: 15px;
            border-radius: 10px 0px 0px 10px;
            border: 1px solid #DBDBDB;
            color: #DBDBDB;
            cursor: pointer;
            transition: .3s;
            &:hover {
                transition: .3s;
                color: $accentColor;
            }
            &:nth-child(2) {
                border-radius: 0px 10px 10px 0px;
                border-left: none;
            }
        }
        &-text {
            font-weight: 600;
            font-size: 18px;
            & span {
                color: $accentColor;
            }
        }
    }
    &__info {
        margin-top: 65px;
        &-headline {
            font-weight: 600;
            font-size: 24px;
            padding-bottom: 25px;
            border-bottom: 1px solid #DBDBDB;
        }
        &-list {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(4, auto);
            row-gap: 45px;
            justify-content: space-between;
        }
        &-icon {
            font-size: 30px;
            color: $accentColor;
            padding: 15px;
            border: 1px solid #DBDBDB;
            display: inline-block;
            border-radius: 100px;
            margin-right: 25px;
        }
        &-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;
        }
        &-subtitle {
            color: $submainColor;
            margin-top: 5px;
        }
        &-item {
            display: flex;
            align-items: center;
        }
    }
    &__description {
        margin-top: 65px;
        margin-bottom: 45px;
    }
}

.load-page {
    // display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(255, 255, 255);
    z-index: 200;
    &__body {
        position: absolute;
        background: #FFFFFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}    

.recovery {
    &__blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        margin-top: 55px;
    }   
    &__block {
        display: inline-block;
        padding: 35px;
        border-radius: 10px;
        border: 1px solid #DBDBDB;
        display: flex;
        align-items: center;
        transition: .3s;
        &:hover {
            border-color: $accentColor;
            transition: .3s;
            & .recovery__icon {
                color: $accentColor;
                transition: .3s;
            }
        }
    }
    &__icon {
        font-size: 65px;
        color: #C8C8C8;
        margin-right: 45px;
        transition: .3s;
    }
    &__title {
        line-height: 150%;
        font-weight: 700;
        font-size: 28px;
    }
    &__subtitle {
        color: $submainColor;
    }
}

.footer {
    margin-top: 150px;
    padding: 45px 0;
    border-top: 1px solid #DBDBDB;
    &__copyright {
        font-weight: 500;
        font-size: 18px;
        margin-top: 30px;
    }
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    &__list {
        &:not(:last-child) {
            margin-right: 85px;
        }
    }
    &__item {
        margin-top: 20px;
        color: $submainColor;
        transition: .3s;
        &:hover {
            color: $accentColor;
            transition: .3s;
        }
        &-head {
            font-size: 18px;
            font-weight: 600;
            transition: .3s;
            &:hover {
                color: $accentColor;
                transition: .3s;
            }
        }
    }
    &__right {
        display: flex;
    }
}